*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{

    display:flex;
    justify-content: center;
}
.App{
    width: 1674px;
}

.list{
    text-align: center;
}


/*чат стилі*/
.container {
    font-family: "Trebuchet MS";
    display: flex;
    justify-content: center;
}
.vertical-line{
    border-left: 1px solid green;
    height: 500px;
}
.left-element::after {



}
.right-element::before {


}
.myChatInput{

    outline: none;
    margin: 20px;
    border-radius: 10px;
    width: 500px;
    height: 35px;
    font-size: 20px;
    border: none;

}
/*gradient for ListCarusel*/
.gradient-carusel {
    background: linear-gradient(to right, white, white);
}

#lol{
    display: flex;
    justify-content: center;
    width: 664px;
    flex-direction: column;
    background: #F2F2F2;
    margin-top: 20px;
    border-radius: 30px;
}
.divUserIconPostList{
    display:flex;
    justify-content:start;
    align-items:center;
    margin-left:31px;
    margin-top:22px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #3A3A3A;
}
/*chaaaaat*/
.chatUserItem{
    margin-top:30px;
    margin-left:30px;
    background:#F2F2F2;
    width:868px;
    height:101px;
    border-radius:30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.categories{
    width: 373px;
    height: 85px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
    position: absolute;
    background: #F2F2F2;
    border-radius: 30px;
    padding-left: 36px;
    padding-right: 36px;
}
.categories-content{

}