*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{

    display:flex;
    justify-content: center;
}
.App{

    width: 800px
}
.post {
    display: flex;

    padding: 15px;
    font-size: 30px;
    margin-top: 15px;


}
.list{
    text-align: center;
}


/*чат стилі*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.vertical-line{
    border-left: 1px solid green;
    height: 500px;
}
.left-element::after {



}
.right-element::before {


}
.myChatInput{


    padding: 10px 10px 10px 5px;
    border-radius: 10px;
    width: 500px;
    height: 35px;
    font-size: 30px;
}