*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{

    display:flex;
    justify-content: center;
}
.App{
    width: 1674px;
}

.list{
    text-align: center;
}


/*чат стилі*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.vertical-line{
    border-left: 1px solid green;
    height: 500px;
}
.left-element::after {



}
.right-element::before {


}
.myChatInput{


    padding: 10px 10px 10px 5px;
    border-radius: 10px;
    width: 500px;
    height: 35px;
    font-size: 30px;
}
/*gradient for ListCarusel*/
.gradient-carusel {
    background: linear-gradient(to right, white, white);
}

#lol{
    display: flex;
    justify-content: center;
    width: 664px;
    flex-direction: column;
    background: #F2F2F2;
    margin-top: 20px;
    border-radius: 30px;
}
.divUserIconPostList{
    display:flex;
    justify-content:start;
    align-items:center;
    margin-left:31px;
    margin-top:22px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #3A3A3A;
}