.caruselItem{
    width: 307px;
    height: 85px;
    font-family: "Trebuchet MS";
    font-size: 20px;
    background: #DFB3FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 30px;
    font-weight: 700;
    color: #3A3A3A;
    margin-left: 30px;
    cursor: pointer;
}
.caruselItem:hover{
    background: #C9F4AA;
}