.menu{
    background:#F2F2F2;
    margin-top:20px;
    position: absolute;
    border-radius:30px;
    font-family: "Trebuchet MS";
    font-size:20px;
}
.menu_content{
    width:374px;
    height:544px;
}
.forSvg{
    background:#F2F2F2;
    display:flex;
    align-items:center;
    font-size:20px;
    font-family: "Trebuchet MS";
    color: #3A3A3A;

}
